#titulo {
    color:rebeccapurple
}
li  {
    color: deeppink;
}
#papasfritas {
    color: coral;
}
#papasalhorno {
    color:slateblue
}
#fideos {
    color:crimson
}
/* esto es un comentario, segui estudiando */